<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="header-fragement :: html-head" />
   
<body class="d-flex min-vh-100 flex-column">
    <header th:replace="header-fragement :: html-navebar"></header>
    <div class="body-wrapper flex-grow-1">
        <section class="slider-big slide-one mb-4">
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <a href="#">
                        <img src="images/1.jpg" alt="Slider" class="img-fluid w-100" />
                        <div class="hover-posts">
                            <span><i class="fa fa-play"></i></span>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="#">
                        <img src="images/2.jpg" alt="Slider" class="img-fluid w-100" />
                        <div class="hover-posts">
                            <span><i class="fa fa-play"></i></span>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="#">
                        <img src="images/3.jpg" alt="Slider" class="img-fluid w-100" />
                        <div class="hover-posts">
                            <span><i class="fa fa-play"></i></span>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="#">
                        <img src="images/4.jpg" alt="Slider" class="img-fluid w-100" />
                        <div class="hover-posts">
                            <span><i class="fa fa-play"></i></span>
                        </div>
                    </a>
                </div>
            </div>
        </section>

        <section class="catslider allvideos py-4">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="cat-heading">
                            <h2>All Videos</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="owl-theme allvideos-inner d-flex flex-wrap">
                            <div class="item">
                                <a href="#">
                                    <img src="images/1.jpg" alt="Slider" class="img-fluid w-100" />
                                    <div class="hover-posts">
                                        <span><i class="fa fa-play"></i></span>
                                    </div>
                                </a>
                            </div>
                            <div class="item">
                                <a href="#">
                                    <img src="images/2.jpg" alt="Slider" class="img-fluid w-100" />
                                    <div class="hover-posts">
                                        <span><i class="fa fa-play"></i></span>
                                    </div>
                                </a>
                            </div>
                            <div class="item">
                                <a href="#">
                                    <img src="images/3.jpg" alt="Slider" class="img-fluid w-100" />
                                    <div class="hover-posts">
                                        <span><i class="fa fa-play"></i></span>
                                    </div>
                                </a>
                            </div>
                            <div class="item">
                                <a href="#">
                                    <img src="images/4.jpg" alt="Slider" class="img-fluid w-100" />
                                    <div class="hover-posts">
                                        <span><i class="fa fa-play"></i></span>
                                    </div>
                                </a>
                            </div>
                            <div class="item">
                                <a href="#">
                                    <img src="images/1.jpg" alt="Slider" class="img-fluid w-100" />
                                    <div class="hover-posts">
                                        <span><i class="fa fa-play"></i></span>
                                    </div>
                                </a>
                            </div>
                            <div class="item">
                                <a href="#">
                                    <img src="images/3.jpg" alt="Slider" class="img-fluid w-100" />
                                    <div class="hover-posts">
                                        <span><i class="fa fa-play"></i></span>
                                    </div>
                                </a>
                            </div>
                            <div class="item">
                                <a href="#">
                                    <img src="images/2.jpg" alt="Slider" class="img-fluid w-100" />
                                    <div class="hover-posts">
                                        <span><i class="fa fa-play"></i></span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <footer  th:replace="header-fragement :: html-footer"></footer>
       
</body>
</html>